# Dependencias
node_modules/
**/node_modules/

# Archivos compilados
js/
**/js/
public/js/
client/public/js/
dist/
**/dist/
public/dist/
client/public/dist/

# Archivos de configuración local
.env
.env.local
.env.*.local

# Archivos de log
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de cobertura
coverage/

# Cache
.cache/
.npm/
.eslintcache

# Directorios de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos del sistema
.DS_Store
Thumbs.db