body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
    display: flex;
    flex-direction: colum;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header 
{
    background-color: #005c2b;
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.pnp-logo{
    font-size: 1em;
}

.login-container{
    background-color: #4a7056;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4x 10px rgba(0,0,0,0.3);
    text-align: center;
}

.login-logo{
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.login-button{
    background-color: #005c2b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
background-color: #004520;
}

.forgot.password {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.forgot-password:hover {
    text-decoration: underline;
}